<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/">
                <!-- <img loading="lazy" decoding="async" src="/assets/images/logo_dark.png" alt="logo" width="264"
                    height="78"> -->
                <span>LOGO HERE</span>
            </a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Our Services</h2>
                    </li>
                    <li><a href="/school-groups/">School Group Trips</a></li>
                    <li><a href="/family-vacations/">Family Vacations</a></li>
                    <li><a href="/custom-adventures/">Custom Adventures</a></li>
                    <li><a href="/become-a-travel-advisor/">Become a Travel Advisor</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="tel:9899750204">T: (989) 975-0204</a>
                    </li>
                    <li>
                        <a href="mailto:Samanthalda12@gmail.com">Click to Email</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.kalamazoowebsitedesign.com" target="_blank" rel="noopener">Kalamazoo Website Design</a>
        <span class="copyright"> Copyright 2025 - Present</span>
    </div>
</footer>